    
    
    
    .top-container{
       background-color: rgb(134, 218, 159);
       position: relative;
       padding: 0%;
       }

    h1{
    color: rgb(255, 255, 255);
    font-size: 5.625rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    text-align: center;
    top: 20%;
    
   }
    
   h2{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    position: relative;
    text-align: center;
    
   }
    .dinosaurio{
     position: absolute;
     left: 35%;
    }
 

    p{
      color: rgb(0, 0, 0);
      position: absolute;
      top: 180%;
      font-size: 25px;
      left: 480px;
      
    }

    .top-hoja{
      position: absolute;
      top: -30%;
      width: 150px;
      height: 150px;
      
    }
    .top-hoja-derecha{
      position: absolute;
      top: -30%;
      width: 150px;
      height: 150px;
      left: 1700px;
    }
    .midlle-container{
      background-color: black;
      position: absolute;
    }

    h3 {
      color: rgb(0, 0, 0);
      font-size: 4rem;
      position: absolute;
      top: 150%;
      left: 870px;

    }
    .foto{
      width: 350px;
      top: 115%;
      position: absolute;
      left: 40%;
    }

    .barra{
      position: absolute;
      height: 500px;
      width: 1200px;
      left:17%;
      top: 85%;
    }

    h4{
      position: absolute;
      top: 220%;
      font-size: 3rem;
      left: 46%;
      color: rgb(59, 122, 78);
    }
    .barra-2{
      position: absolute;
      left: 18%;
      height: 500px;
      width: 1200px;
      top: 200%;
    }
   
    h5{
      position: absolute;
      top: 250%;
      font-size: 30px;
      left: 45%;
    }
    
    .design{
      position: absolute;
      top: 270%;
      font-size: 20px;
      left: 46%;
    }
    .homero{
      position: absolute;
      height: 230px;
      width: 230px;
      left:30%;
      top: 265%;
    }
    h6{
      position: absolute;
      top: 290%;
      font-size: 30px;
      left: 48%;
    }
    .dog{

      position: absolute;
      height: 230px;
      width: 230px;
      left:30%;
      top: 300%;
    }

    .pizza{
      position: absolute;
      top: 309%;
      font-size: 20px;
      left: 46%;
    }

    h7{
      position: absolute;
      top: 350%;
      font-size: 40px;
      left: 45%;
      color: rgb(59, 122, 78);
    }
    
    h8{
      position: absolute;
      top: 360%;
      font-size: 25px;
      left: 37%;
    }
    .dino{
      position: absolute;
      top: 368%;
      font-size: 25px;
      left: 28%;
    }

    .boton{
      background-color: rgb(119, 206, 126);
      position: absolute;
      padding: 20px;
      border: 10px solid rgb(0, 0, 0);
      top: 300%;
      left: 40%;

    }

    .bottom-container{
       background-color: rgb(134, 218, 159);
       width: 10000px;
       height: 250px;
       position: absolute;
       top: 425%;
       left: 00%;
     
      
       
       }
    
    .linkedin{
      position: absolute;
      top: 50px;
      font-size: 25px;
      left: 750px;

    }
    .website{
      position: absolute;
      top: 50px;
      font-size: 25px;
      left: 970px;

    }
    .twitter{
      position: absolute;
      top: 50px;
      font-size: 25px;
      left:1200px ;

    }

    .derecho{
      position: absolute;
      left: 850px;
      top: 70%;
      color: rgb(255, 255, 255);

      
    }
    .top-hoja-medio{
      position: absolute;
      top: 90%;
      width: 150px;
      height: 150px;
      left: 1700px;
    }
    .top-hoja-medio-izquierdo{
      position: absolute;
      top: 90%;
      width: 150px;
      height: 150px;
      left: 60px;
    }
    
    .top-hoja-abajo-izquierdo{
      position: absolute;
      top: 210%;
      width: 150px;
      height: 150px;
      left: 60px;

    }

    .top-hoja-abajo-derecho{
       position: absolute;
      top: 210%;
      width: 150px;
      height: 150px;
      left: 1650px;


    }
      
    

     